.input-superlg{
  height:100px;
  font-size:75px;
}

.input-verylg{
  height:60px;
  font-size:24px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-top:20px;
}

.mg-lg-spacer {
  width: 50%;
  margin-left: auto;
  border-left: 1px solid #ccc;
  height: 60px;
}

hr {
  border-color: #ccc;
}